<div class="d-flex justify-content-center my-4"
     style="border-left: 2px solid white;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            padding: 16px;
            background-color: rgb(119, 141, 169, 0.25);">
  <h1 class="mr-2" style="font-size: 40px;">Hauze Fantasy Gaming |</h1>
  <h1 style="color: #F27830; font-size: 40px; margin-top: 4px;">2024</h1>
</div>
