#playerImage {
  min-height: 300px;
  min-width: 150px;
  border: 2px solid green;
}

#playerRow { 
  width: 95%;
  margin: 0 auto;
  border: 2px solid blue;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .game {
    flex: 1 0 calc(16.66667% - 20px); // 100% / 6 columns - grid gap
    margin-bottom: 10px; // row gap
  }

  .game:nth-child(6n+1) {
    margin-left: 0; // remove left margin from the first item in each row
  }

  .game:nth-child(6n) {
    margin-right: 0; // remove right margin from the last item in each row
  }
}


