.game-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-height: 200px;
  max-width: 300px;
  border-radius: 4px;
}

.game-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
};

.image-overlay {
  position: absolute;
  top: 0; /* Set top to 0 */
  right: 0; /* Set right to 0 */
  bottom: 0; /* Set bottom to 0 */
  left: 0; /* Set left to 0 */
  background-color: rgba(0, 0, 0, 0.5) !important; /* Optional: Add background to make text more readable */
}

.release-date-container {
  position: absolute;
  bottom: 0; /* Set bottom to 0 */
  left: 0; /* Set left to 0 */
  display: flex; /* Use flexbox to align children */
  align-items: end; /* Center children vertically */
  justify-content: start; /* Center children horizontally */
  height: 10%;
  width: 70%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10%;
  padding-right: 0px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
};

.game-release-date {
  color: white;
  font-size: 14px;
};

.game-score {
  position: absolute;
  height: 10%;
  right: 0; /* Set right to 0 */
  bottom: 0; /* Set bottom to 0 */
  display: flex; /* Use flexbox to align children */
  align-items: end; /* Center children vertically */
  justify-content: end; /* Center children horizontally */
  color: white;
  padding: 0px;
}