<div id="bg-card">
  <app-header></app-header>

  <div class="d-flex direction-column">
    <app-player-row [playerImgSrc]="'../assets/images/John_Player_img.png'"
                    playerName="John"
                    class="mb-4">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/images/Fez_Player_img.png'"
                    playerName="Fez"
                    class="mb-4">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/images/Hauze_Player_img.png'"
                    playerName="Hauze"
                    class="mb-4">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/images/Nick_Player_Img.png'"
                    playerName="Nick"
                    class="mb-4">
    </app-player-row>
  </div>

</div>