<div id="bg-card">
  <app-header></app-header>

  <div class="d-flex direction-column">
    <app-player-row [playerImgSrc]="'../assets/images/hauze.png'"
                    playerName="Hauze"
                    playerColor="2, 48, 71"
                    class="mb-4"
                    [playerStanding]="standings['Hauze']"
                    (playerScoreUpdated)="updateStandings($event)">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/images/john.png'"
                    playerName="John"
                    playerColor="17, 138, 178"
                    class="mb-4"
                    [playerStanding]="standings['John']"
                    (playerScoreUpdated)="updateStandings($event)">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/images/nick.png'"
                    playerName="Nick"
                    playerColor="251, 133, 0"
                    class="mb-4"
                    [playerStanding]="standings['Nick']"
                    (playerScoreUpdated)="updateStandings($event)">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/images/fez.png'"
                    playerName="Buster"
                    playerColor="8, 96, 95"
                    class="mb-4"
                    [playerStanding]="standings['Buster']"
                    (playerScoreUpdated)="updateStandings($event)">
    </app-player-row>
  </div>

</div>