<div id="bg-card">
  <app-header></app-header>

  <div class="d-flex direction-column">
    <app-player-row [playerImgSrc]="'../assets/1.png'"
                    playerName="John"
                    class="mb-4">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/2.png'"
                    playerName="Fez"
                    class="mb-4">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/3.png'"
                    playerName="Hauze"
                    class="mb-4">
    </app-player-row>
    <app-player-row [playerImgSrc]="'../assets/4.png'"
                    playerName="Nick"
                    class="mb-4">
    </app-player-row>
  </div>

</div>