#playerRow {
  width: 95%;
  margin: 0 auto;
  // border: 2px solid blue;
}

.player-image-container {
  position: relative;
  min-width: 200px;
  min-height: 234px;
  overflow: hidden;
  margin-right: 16px;
}

.image-overlay {
  position: absolute;
  top: 0; /* Set top to 0 */
  right: 0; /* Set right to 0 */
  bottom: 0; /* Set bottom to 0 */
  left: 0; /* Set left to 0 */
}

.player-image { 
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.player-name {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: flex;
  margin-left: 4px;
  margin-top: 2px;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .game {
    flex: 1 0 calc(16.66667% - 20px); // 100% / 6 columns - grid gap
    margin-left: 16px; // column gap
    margin-bottom: 16px; // row gap
    overflow: hidden;

    // Remove margin-bottom from the bottom six items in the grid
    &:nth-last-child(-n+6) {
      margin-bottom: 0;
    }
  }

  .game:nth-child(6n+1) {
    margin-left: 0; // remove left margin from the first item in each row
  }

  .game:nth-child(6n) {
    margin-right: 0; // remove right margin from the last item in each row
  }
}